# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (✅ ये line होनी चाहिए)
.env
.env.local
.env.production
.env.development

# vercel
.vercel

# https://food-fox-backend.onrender.com/
#https://food-fox-five.vercel.app/
